//font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

@font-face {
  font-family: 'PoppinsVN';
  src: url('../fonts/PoppinsVN-100.eot?#iefix') format('embedded-opentype'),  url('../fonts/PoppinsVN-100.woff') format('woff'), url('../fonts/PoppinsVN-100.ttf')  format('truetype'), url('../fonts/PoppinsVN-100.svg#PoppinsVN-100') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PoppinsVN';
  src: url('../fonts/PoppinsVN-400.eot?#iefix') format('embedded-opentype'),  url('../fonts/PoppinsVN-400.woff') format('woff'), url('../fonts/PoppinsVN-400.ttf')  format('truetype'), url('../fonts/PoppinsVN-400.svg#PoppinsVN-400') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PoppinsVN';
  src: url('../fonts/PoppinsVN-400i.eot?#iefix') format('embedded-opentype'),  url('../fonts/PoppinsVN-400i.woff') format('woff'), url('../fonts/PoppinsVN-400i.ttf')  format('truetype'), url('../fonts/PoppinsVN-400i.svg#PoppinsVN-400i') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'PoppinsVN';
  src: url('../fonts/PoppinsVN-700.eot?#iefix') format('embedded-opentype'),  url('../fonts/PoppinsVN-700.woff') format('woff'), url('../fonts/PoppinsVN-700.ttf')  format('truetype'), url('../fonts/PoppinsVN-700.svg#PoppinsVN-700') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PoppinsVN';
  src: url('../fonts/PoppinsVN-700i.eot?#iefix') format('embedded-opentype'),  url('../fonts/PoppinsVN-700i.woff') format('woff'), url('../fonts/PoppinsVN-700i.ttf')  format('truetype'), url('../fonts/PoppinsVN-700i.svg#PoppinsVN-700i') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'PoppinsVN';
  src: url('../fonts/PoppinsVN-900.eot?#iefix') format('embedded-opentype'),  url('../fonts/PoppinsVN-900.woff') format('woff'), url('../fonts/PoppinsVN-900.ttf')  format('truetype'), url('../fonts/PoppinsVN-900.svg#PoppinsVN-900') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


