/*---------- sprite css ----------*/
[class*="icon12"]{
  width:12px;
  height:12px;
  display:inline-block;
  vertical-align: middle;
}
[class*="icon16"]{
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
}
[class*="icon20"]{
  width:20px;
  height:20px;
  display:inline-block;
  vertical-align:middle;
}
[class*="icon24"]{
	width:24px;
	height:24px;
	display:inline-block;
	vertical-align:middle;
}
[class*="icon32"]{
	width:32px;
	height:32px;
	display:inline-block;
	vertical-align:middle;
}
[class*="icon36"]{
  width:36px;
  height:36px;
  display:inline-block;
  vertical-align:middle;
}
[class*="icon48"]{
  width:48px;
  height:48px;
  display:inline-block;
  vertical-align:middle;
}
[class*="icon60"]{
  width:60px;
  height:60px;
  display:inline-block;
  vertical-align:middle;
}
[class*="icon64"]{
  width:64px;
  height:64px;
  display:inline-block;
  vertical-align:middle;
}
.icon16-arrow-right{
  background-image: url("../images/icons/icon16-arrow-right.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon16-facebook-square{
  background-image: url("../images/icons/icon16-facebook-square.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon16-facebook-square2{
  background-image: url("../images/icons/icon16-facebook-square2.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon16-linkedin-square{
  background-image: url("../images/icons/icon16-linkedin-square.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon16-skype-square{
  background-image: url("../images/icons/icon16-skype-square.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon16-telephone{
  background-image: url("../images/icons/icon16-telephone.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon20-move{
  background-image: url("../images/icons/icon20-move.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon24-newspaper{
  background-image: url("../images/icons/icon24-newspaper.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon24-age{
  background-image: url("../images/icons/icon24-age.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon24-books{
  background-image: url("../images/icons/icon24-books.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon24-rewind-time{
  background-image: url("../images/icons/icon24-rewind-time.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon24-student{
  background-image: url("../images/icons/icon24-student.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon24-warning{
  background-image: url("../images/icons/icon24-warning.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon24-manual{
  background-image: url("../images/icons/icon24-manual.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon24-telemarketer{
  background-image: url("../images/icons/icon24-telemarketer.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon24-smartphone{
  background-image: url("../images/icons/icon24-smartphone.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon24-video-play{
  background-image: url("../images/icons/icon24-video-play.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon32-doctor{
  background-image: url("../images/icons/icon32-doctor.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon32-coin{
  background-image: url("../images/icons/icon32-coin.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon32-sunset{
  background-image: url("../images/icons/icon32-sunset.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon32-more{
  background-image: url("../images/icons/icon32-more.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon32-attached-file{
  background-image: url("../images/icons/icon32-attached-file.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon60-award{
  background-image: url("../images/icons/icon60-award.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon64-play-square{
  background-image: url("../images/icons/icon64-play-square.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/*---------- end sprite css ----------*/