//color base
$color-white: #fff;
$color-blue: #1759bc;

//color site
$color-bg: $color-white;
$color-bg2: #f7f8fa;
$color-bg3: #ededed;
$color-bg4: #dee2e9;
$color-bg5: #f2f5fa;
$color-link: $color-blue;
$color-link-hover: #0000ff;
$color-text: #333;
$color-border: #ddd;
$color-border2: #a1a1a1;
$color-time: #999;

//color main
$color-primary: #5dc2a7;
$color-secondary: #fcf055;
//$color-info: #17a2b8;
//$color-success: #28a745;
//$color-warning: #ffc107;
//$color-danger: #dc3545;
//$color-light: #f8f9fa;
//$color-dark: #343a40;

//color list
$color-black: #000;
//$color-indigo: #6610f2;
//$color-purple: #6f42c1;
//$color-pink: #e83e8c;
$color-red: #ee3f30;
$color-orange: #e87f18;
//$color-yellow: #ffc107;
//$color-green: #28a745;
//$color-teal: #20c997;
//$color-cyan: #17a2b8;
$color-gray: #4a4a4a;
$color-gray-light: #aaa;
//$color-gray-dark: #343a40;

//width
$container-sm: 576px;
$container-sm-number: 576;
$container-md: 738px;
$container-md-number: 738;
$container-lg: 990px;
$container-lg-number: 990;
$container-xl: 1170px;
$container-xl-number: 1170;

//grid size
$screen-xs: 0;
$screen-xs-min: $screen-xs;
$screen-sm: 576px;
$screen-sm-min: $screen-sm;
$screen-md: 768px;
$screen-md-min: $screen-md;
$screen-lg: 992px;
$screen-lg-min: $screen-lg;
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

//grid size max
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);

//font
$font-arial: Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-lato: 'Lato',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto: 'Roboto',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto-condensed: 'Roboto Condensed','Roboto',Arial;
$font-open-sans: 'Open Sans','Roboto',Arial,sans-serif;
$font-poppins-vn: 'PoppinsVN','Roboto',Arial,sans-serif;
$font-awesome: 'FontAwesome';
$font-awesome-5-free: 'Font Awesome 5 Free';
$font-site: $font-poppins-vn;

//font size
$font-size-xs: 14px;
$line-height-xs: 20px;
$font-size-md: 14px;
$line-height-md: 20px;