/*---------- landing why teky commit css ----------*/
.lwt-commit-bg{
  background-image: url("../images/lwt-commit-bg.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
.lwt-commit-item{
  text-align: center;
  figure{
    margin: 0 0 10px;
    text-align: center;
    img{
      max-height: 70px;
      width: auto;
      height: auto;
    }
  }
}
.lwt-commit-grid{
  text-align: center;
  ul{
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    li{
      display: inline-block;
      vertical-align: middle;
      margin-right: -4px;
      width: percentage(1/2);
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 20px;
    }
  }
}
//landing why teky commit responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .lwt-commit-grid{
    ul{
      margin: 0 -10px;
      li{
        width: percentage(1/4);
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end landing why teky commit responsive css
/*---------- end landing why teky commit css ----------*/