<!doctype html>
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-language" content="vi" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Template" />
  <meta name='COPYRIGHT' content='&copy; Template' />
  <meta name="robots" content="noodp,index,follow" />
  <meta name="google" content="notranslate" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta property="og:title" content="Teky - Tuyển dụng" />
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:url" content="website link" />
  <meta property="og:image" content="image description" />
  <meta property="og:description" content="website description" />
  <meta property="og:site_name" content="website name" />
  <link rel="shortcut icon" href="images/favicon.ico" />
  <title>Teky - Tuyển dụng</title>
  {% load static %}
  <!-- Bootstrap CSS -->
  <link href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css\owl.carousel.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css\fontawesome-all.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css\jquery.fancybox.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css\style.min.css' %}" rel="stylesheet" />
</head>
<body>
<div class="l-nav">
  <div class="container">
    <div class="c-header">
      <button type="button" class="c-menu-expand js-menu-expand"><span></span></button>
      <div class="c-logo"><a href="#"><img src="images/logo-teky.png" alt="logo" /></a></div>
      <div class="c-menu">
        <ul>
          <li><a href="#">Về Teky</a></li>
          <li><a href="#">Khoá học</a></li>
          <li><a href="#">Hợp tác</a></li>
          <li><a href="#">Giảng viên</a></li>
        </ul>
      </div><!-- c-menu -->
      <div class="c-language">
        <div class="c-language__curent"><img src="images/flag-vi.png" alt="vi" /></div>
        <div class="c-dropdown-menu">
          <ul>
            <li><a href="#"><img src="images/flag-vi.png" alt="vi" /> Tiếng Việt</a></li>
            <li><a href="#"><img src="images/flag-en.png" alt="en" /> English</a></li>
          </ul>
        </div>
      </div><!-- c-language -->
    </div><!-- c-header -->
  </div><!-- container -->
</div><!-- l-nav -->
<div class="c-blank-space"></div>
<div class="c-pano is-recruitment">
  <div class="c-pano__caption">
    <div class="container">
      <h1 class="c-pano__title">Tuyển dụng</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Về Teky</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tuyển dụng</li>
      </ol>
    </div><!-- container -->
  </div><!-- c-pano__caption -->
</div><!-- c-pano -->
<div class="c-block is-single">
  <div class="container">
    <div class="c-recruitment-top is-detail">
      <div class="c-recruitment-top__content">
        <div class="c-recruitment-top__row"><span class="c-recruitment-top__place">Teky Cầu Giấy</span></div>
        <div class="c-recruitment-top__row">Số 6 Nguyễn Thị Thập, Phường Trung Hoà, Quận Cầu Giấy, Hà Nội</div>
        <div class="c-recruitment-top__line"></div>
        <div class="c-recruitment-top__row">
          <div class="row">
            <div class="col-12 col-lg-6">
              <span class="c-recruitment-top__title"><span class="text-uppercase text-red">Tuyển dụng: </span>Chuyển viên tư vấn tuyển sinh</span>
            </div>
            <div class="col-6 col-lg-2 text-center">
              <img src="images/agreement.png" alt="agreement" />
              <span class="medium-text">7.000.000+</span>
              <span class="small-text">Lương (Có hoa hồng)</span>
            </div>
            <div class="col-6 col-lg-2 text-center">
              <img src="images/promoted.png" alt="promoted" />
              <span class="medium-text">Thăng tiến</span>
              <span class="small-text">Lộ trình thăng tiến rõ ràng</span>
            </div>
            <div class="col-12 col-lg-2"><a class="btn btn-primary btn-block text-uppercase btn-lg is-shadow" href="#">Nộp đơn</a></div>
          </div>
        </div>
      </div>
    </div><!-- c-recruitment-top -->
    <div class="c-tabs">
      <div class="c-tabs__title">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab" role="tab">Thông tin chung</a></li>
          <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab" role="tab">Về công ty</a></li>
          <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab" role="tab">Việc làm khác từ Teky</a></li>
        </ul>
      </div>
      <div class="c-tabs__content">
        <div class="c-tabs__pane fade show active" id="tab1" role="tabpanel">
          <div class="c-box">
            <div class="c-box__title">
              <div class="c-box__title__name">Phúc lợi cho bạn</div>
            </div>
            <div class="c-box__content">
              <div class="c-recruitment-use">
                <ul class="clearfix">
                  <li>
                    <i class="icon32-doctor"></i>
                    <div class="c-recruitment-use__text">
                      <p class="text-uppercase"><b>Lương thưởng</b></p>
                      <p>Lương tháng 13, thưởng tết, hoa hồng</p>
                    </div>
                  </li>
                  <li>
                    <i class="icon32-coin"></i>
                    <div class="c-recruitment-use__text">
                      <p class="text-uppercase"><b>Các loại bảo hiểm</b></p>
                      <p>Bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp</p>
                    </div>
                  </li>
                  <li>
                    <i class="icon32-sunset"></i>
                    <div class="c-recruitment-use__text">
                      <p class="text-uppercase"><b>Du lịch</b></p>
                      <p>Hàng năm công ty sẽ tổ chức các kỳ nghỉ cho nhân viên đi trong nước hoặc nước ngoài</p>
                    </div>
                  </li>
                  <li>
                    <i class="icon32-more"></i>
                    <div class="c-recruitment-use__text">
                      <p class="text-uppercase"><b>Khác</b></p>
                      <p>Môi trường làm việc sáng tạo, cơ sở vật chất hiện đại.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div><!-- c-box__content -->
          </div><!-- c-box -->
          <div class="c-box">
            <div class="c-box__title">
              <div class="c-box__title__name">Mô tả công việc</div>
            </div>
            <div class="c-box__content">
              <div class="b-maincontent">
                <p>- Overall responsible for achieving sales target of the Channel Partner business</p>
                <p>- Develop, support and monitor existing as well as find new channel partners</p>
                <p>- Train, support dealer about the product and application</p>
                <p>- Plan and execute (promotion) campaigns (e-mailers, direct mailers, seminars, exhibitions)</p>
                <p>- Collect market information and give inputs for positioning</p>
                <p>- Create regular reports and market analysis to manager</p>
                <p>- Help troubleshoot product and other issues by collaborating with international support</p>
                <p>- Keep material up to date (electronic and printed documents, demo equipment)</p>
                <p>- Visit key accounts and other customers (with channel partner)</p>
              </div><!-- b-maincontent -->
            </div><!-- c-box__content -->
          </div><!-- c-box -->
          <div class="c-box">
            <div class="c-box__title">
              <div class="c-box__title__name">Yêu cầu công việc</div>
            </div>
            <div class="c-box__content">
              <div class="b-maincontent">
                <p>- Overall responsible for achieving sales target of the Channel Partner business</p>
                <p>- Develop, support and monitor existing as well as find new channel partners</p>
                <p>- Train, support dealer about the product and application</p>
                <p>- Plan and execute (promotion) campaigns (e-mailers, direct mailers, seminars, exhibitions)</p>
                <p>- Collect market information and give inputs for positioning</p>
                <p>- Create regular reports and market analysis to manager</p>
                <p>- Help troubleshoot product and other issues by collaborating with international support</p>
                <p>- Keep material up to date (electronic and printed documents, demo equipment)</p>
                <p>- Visit key accounts and other customers (with channel partner)</p>
              </div><!-- b-maincontent -->
            </div><!-- c-box__content -->
          </div><!-- c-box -->
        </div><!-- c-tabs__pane -->
        <div class="c-tabs__pane fade" id="tab2" role="tabpanel">
          <div class="b-maincontent">
            <p>- TEKY là Học viện sáng tạo công nghệ với chương trình giảng dạy STEAM (Science – Technology – Engineering – Art – Mathematics) theo chuẩn Mỹ đầu tiên tại Việt Nam dành cho trẻ em từ 6 đến 18 tuổi.</p>
            <p>- Được thành lập vào tháng 6 năm 2016, TEKY quyết tâm thực hiện sứ mệnh mang đến cho thế hệ trẻ Việt Nam kiến thức toàn diện về STEAM, đặc biệt là các tư duy công nghệ, khoa học máy tính và kỹ năng thế kỷ 21 – 4Cs (Critical Thinking: Tư duy phản biện – Communication: – Giao tiếp – Creativity: Sáng tạo – Collaboration: Làm việc nhóm).</p>
            <p>- Các bộ môn giảng dạy tại Teky gồm: Lập trình và phát triển ứng dụng, Robotics & Engineering, Công nghệ 3D và MultiMedia.</p>
            <p>- Chúng tôi tin rằng trẻ em Việt Nam có cơ hội phát triển mạnh mẽ trong một nền kinh tế số và cần được trang bị sẵn sàng để trở thành những doanh nhân công nghệ trong tương lai.</p>

          </div><!-- b-maincontent -->
        </div><!-- c-tabs__pane -->
        <div class="c-tabs__pane fade" id="tab3" role="tabpanel">
          <div class="c-recruitment-list">
            <ul class="clearfix">
              <li>
                <div class="c-recruitment-item">
                  <div class="c-recruitment-item__area"><span>Hà Nội</span></div>
                  <div class="row">
                    <div class="col-lg-9">
                      <div class="c-recruitment-item__row"><a class="c-recruitment-item__title" href="#"><span class="text-uppercase text-primary">Cần tuyển: </span>Chuyên viên tư vấn tuyển sinh</a></div>
                      <div class="c-recruitment-item__row">
                        <span class="c-recruitment-item__price">7.000.000 VNĐ/tháng</span><span class="space">|</span>Có hoa hồng<span class="space">|</span><b>Làm việc tại: </b>Teky Cầu Giấy<span class="space">|</span><b>Hết hạn nộp hồ sơ: </b>Luôn tuyển
                      </div>
                      <div class="c-recruitment-item__row">
                        <div class="c-recruitment-tags"><a href="#">English</a><a href="#">Bán hàng</a><a href="#">Marketing</a></div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <a class="btn btn-primary btn-block btn-lg text-uppercase is-shadow" href="#">Xem chi tiết<span class="small-text">& nộp hồ sơ ứng tuyển</span></a>
                    </div>
                  </div>
                </div><!-- c-recruitment-item -->
              </li>
              <li>
                <div class="c-recruitment-item">
                  <div class="c-recruitment-item__area"><span>Hồ Chí Minh</span></div>
                  <div class="row">
                    <div class="col-lg-9">
                      <div class="c-recruitment-item__row"><a class="c-recruitment-item__title" href="#"><span class="text-uppercase text-primary">Cần tuyển: </span>Chuyên viên tư vấn tuyển sinh</a></div>
                      <div class="c-recruitment-item__row">
                        <span class="c-recruitment-item__price">7.000.000 VNĐ/tháng</span><span class="space">|</span>Có hoa hồng<span class="space">|</span><b>Làm việc tại: </b>Teky Cầu Giấy<span class="space">|</span><b>Hết hạn nộp hồ sơ: </b>Luôn tuyển
                      </div>
                      <div class="c-recruitment-item__row">
                        <div class="c-recruitment-tags"><a href="#">English</a><a href="#">Bán hàng</a><a href="#">Marketing</a></div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <a class="btn btn-primary btn-block btn-lg text-uppercase is-shadow" href="#">Xem chi tiết<span class="small-text">& nộp hồ sơ ứng tuyển</span></a>
                    </div>
                  </div>
                </div><!-- c-recruitment-item -->
              </li>
              <li>
                <div class="c-recruitment-item">
                  <div class="c-recruitment-item__area"><span>Bình Dương</span></div>
                  <div class="row">
                    <div class="col-lg-9">
                      <div class="c-recruitment-item__row"><a class="c-recruitment-item__title" href="#"><span class="text-uppercase text-primary">Cần tuyển: </span>Chuyên viên tư vấn tuyển sinh</a></div>
                      <div class="c-recruitment-item__row">
                        <span class="c-recruitment-item__price">7.000.000 VNĐ/tháng</span><span class="space">|</span>Có hoa hồng<span class="space">|</span><b>Làm việc tại: </b>Teky Cầu Giấy<span class="space">|</span><b>Hết hạn nộp hồ sơ: </b>Luôn tuyển
                      </div>
                      <div class="c-recruitment-item__row">
                        <div class="c-recruitment-tags"><a href="#">English</a><a href="#">Bán hàng</a><a href="#">Marketing</a></div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <a class="btn btn-primary btn-block btn-lg text-uppercase is-shadow" href="#">Xem chi tiết<span class="small-text">& nộp hồ sơ ứng tuyển</span></a>
                    </div>
                  </div>
                </div><!-- c-recruitment-item -->
              </li>
              <li>
                <div class="c-recruitment-item">
                  <div class="c-recruitment-item__area"><span>Hồ Chí Minh</span></div>
                  <div class="row">
                    <div class="col-lg-9">
                      <div class="c-recruitment-item__row"><a class="c-recruitment-item__title" href="#"><span class="text-uppercase text-primary">Cần tuyển: </span>Chuyên viên tư vấn tuyển sinh</a></div>
                      <div class="c-recruitment-item__row">
                        <span class="c-recruitment-item__price">7.000.000 VNĐ/tháng</span><span class="space">|</span>Có hoa hồng<span class="space">|</span><b>Làm việc tại: </b>Teky Cầu Giấy<span class="space">|</span><b>Hết hạn nộp hồ sơ: </b>Luôn tuyển
                      </div>
                      <div class="c-recruitment-item__row">
                        <div class="c-recruitment-tags"><a href="#">English</a><a href="#">Bán hàng</a><a href="#">Marketing</a></div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <a class="btn btn-primary btn-block btn-lg text-uppercase is-shadow" href="#">Xem chi tiết<span class="small-text">& nộp hồ sơ ứng tuyển</span></a>
                    </div>
                  </div>
                </div><!-- c-recruitment-item -->
              </li>
              <li>
                <div class="c-recruitment-item">
                  <div class="c-recruitment-item__area"><span>Hà Nội</span></div>
                  <div class="row">
                    <div class="col-lg-9">
                      <div class="c-recruitment-item__row"><a class="c-recruitment-item__title" href="#"><span class="text-uppercase text-primary">Cần tuyển: </span>Chuyên viên tư vấn tuyển sinh</a></div>
                      <div class="c-recruitment-item__row">
                        <span class="c-recruitment-item__price">7.000.000 VNĐ/tháng</span><span class="space">|</span>Có hoa hồng<span class="space">|</span><b>Làm việc tại: </b>Teky Cầu Giấy<span class="space">|</span><b>Hết hạn nộp hồ sơ: </b>Luôn tuyển
                      </div>
                      <div class="c-recruitment-item__row">
                        <div class="c-recruitment-tags"><a href="#">English</a><a href="#">Bán hàng</a><a href="#">Marketing</a></div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <a class="btn btn-primary btn-block btn-lg text-uppercase is-shadow" href="#">Xem chi tiết<span class="small-text">& nộp hồ sơ ứng tuyển</span></a>
                    </div>
                  </div>
                </div><!-- c-recruitment-item -->
              </li>
            </ul>
          </div><!-- c-recruitment-list -->
        </div><!-- c-tabs__pane -->
      </div><!-- c-tabs__content -->
    </div><!-- c-tabs -->
  </div><!-- container -->
</div><!-- c-block -->
<div class="l-footer">
  <div class="c-footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="c-footer-label">Về Teky<i class="fas fa-plus"></i></div>
          <div class="c-footer-content">
            <div class="c-footer-menu">
              <ul>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Đội ngũ lãnh đạo</a></li>
                <li><a href="#">Đội ngũ giảng viên</a></li>
                <li><a href="#">Báo chí nói về TEKY</a></li>
                <li><a href="#">Giải thưởng</a></li>
                <li><a href="#">Sự kiện</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Liên hệ</a></li>
              </ul>
            </div><!-- c-footer-menu -->
          </div><!-- c-footer-content -->
        </div><!-- col -->
        <div class="col-lg-6">
          <div class="c-footer-label">Chương trình học<i class="fas fa-plus"></i></div>
          <div class="c-footer-content">
            <div class="c-footer-menu">
              <ul>
                <li><a href="#">Lập trình & phát triển ứng dụng</a></li>
                <li><a href="#">Robot và điện tử tự động</a></li>
                <li><a href="#">3D và truyền thông đa phương tiện</a></li>
              </ul>
            </div><!-- c-footer-menu -->
          </div><!-- c-footer-content -->
        </div><!-- col -->
        <div class="col-lg-3">
          <div class="c-footer-label">Giờ hoạt động<i class="fas fa-plus"></i></div>
          <div class="c-footer-content">
            <div class="b-maincontent">
              <p><b>THỨ 3</b> đến <b>THỨ 6: </b>08:30 - 20:30</p>
              <p><b>THỨ 7 - Chủ Nhật: </b>08:30 - 20:30</p>
              <p><b>THỨ 2: </b>Không làm việc</p>
            </div><!-- b-maincontent -->
            <div class="c-footer-social">
              <h4>Kết nối với chúng tôi</h4>
              <a href="#"><i class="fab fa-facebook-square"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div><!-- c-footer-content -->
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- c-footer-main -->
  <div class="c-footer-bottom">
    <div class="container">
      <div class="c-footer-logo"><a href="#"><img src="images/logo-teky.png" alt="logo" /></a></div>
      <div class="c-copyright"><b>Copyright</b> © 2014-2018 <b>TEKY Academy. All Rights Reserved.</b> <a href="#">Accessibility</a>, <a href="#">User Agreement</a>, <a href="#">Privacy</a>, <a href="#">Cookies</a></b></div>
    </div><!-- container -->
  </div><!-- c-footer-bottom -->
</div><!-- l-footer -->
<div class="c-smart-float">
  <ul class="clearfix">
    <li>
      <a href="#" title="Hotline">
        <i class="icon24-smartphone"></i>
        <span class="c-smart-float__label">Hotline lãnh đạo</span>
        <span class="c-smart-float__bold">0936 17 1983</span>
      </a>
    </li>
    <li>
      <a href="#" title="Hỏi đáp">
        <i class="icon24-telemarketer"></i>
        <span class="c-smart-float__label">Bạn cần trợ giúp?</span>
        <span class="c-smart-float__bold">Trung tâm hỏi đáp</span>
      </a>
    </li>
  </ul>
</div><!-- c-smart-float -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{%static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{%static 'js/jquery-migrate-1.4.1.js' %}"></script>
<script src="{%static 'js/popper.min.js' %}" ></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/owl.carousel.min.js' %}"></script>
<script src="{%static 'js/jquery.matchHeight-min.js' %}"></script>
<script src="{%static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{%static 'js/function.js' %}"></script>
<script src="{%static 'js/style.js' %}"></script>
</body>
</html>